<section class="py-5">
  <h1 class="display-3">
    Failed Purchase
  </h1>
  <p class="lead">Please try again, there was an error.</p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>