    <div class="log-page">
        <div class="log-container">
            <div class="card-wrap pad-log">
                <form class="log-form">
                    <span class="log-title pad-title">Log-In</span>
                    <span class="text pad-text">Email</span>
                    <div class="log-input-wrap pad-box">
                        <input class="input-here" type="text" id="email-login">
                    </div>
                    <span class="text pad-text">Password</span>
                    <div class="log-input-wrap pad-box">
                        <input class="input-here" type="password" id="password-login">
                    </div>
                    <div class="login-button-container">
                        <button class="login-button">Login</button>
                    </div>
                </form>
            </div>
            <div class="card-wrap pad-log signup-card">
                <form class="signup-form">
                    <span class="log-title pad-title">Sign-Up</span>
                    <span class="text pad-text">Username</span>
                    <div class="log-input-wrap pad-box">
                        <input class="input-here" type="text" id="username-signup">
                    </div>
                    <span class="text pad-text">Email</span>
                    <div class="log-input-wrap pad-box">
                        <input class="input-here" type="text" id="email-signup">
                    </div>
                    <span class="text pad-text">Password</span>
                    <div class="log-input-wrap pad-box">
                        <input class="input-here" type="password" id="password-signup">
                    </div>
                    <div class="login-button-container">
                        <button class="login-button">Sign-Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


<script src="/js/login.js"></script>