body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;
  /* line-height: 20px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2d42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2b2d42;
  font-weight: 500;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover,
a:focus {
  color: #d10024;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cleared:after,
.cleared:before {
  display: table;
  content: '';
}

.cleared:after {
  clear: both;
}

.header-acc {
  overflow: auto;
  float: right;
  padding: 15px 0px;
}

.header-acc > div {
  display: inline-block;
}

.header-acc > div + div {
  margin-left: 15px;
}

.header-acc > div > a {
  display: block;
  position: relative;
  width: 90px;
  text-align: center;
  color: #fff;
}

.header-acc > div > a > i {
  display: block;
  font-size: 18px;
}

.header-acc > div > a > span {
  font-size: 12px;
}

.header-acc > div > a > .quantity {
  position: absolute;
  right: 15px;
  top: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  color: #fff;
  background-color: #d10024;
}

.header-acc .menu-toggle {
  display: none;
}

#top-header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1e1f29;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.header-links li:last-child {
  margin-right: 0px;
}

.header-links li a {
  color: #fff;
}

.header-links li a:hover {
  color: #d10024;
}

.header-links li i {
  color: #d10024;
  margin-right: 5px;
}

#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161d;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
  width: 128px;
  height: 128px;
}


.header-search {
  padding: 15px 0px;
}

.header-search form {
  position: relative;
}

.header-search form .input-select {
  margin-right: -4px;
  border-radius: 40px 0px 0px 40px;
}

.header-search form .input {
  width: calc(100% - 260px);
  margin-right: -4px;
}

.header-search form .search-btn {
  height: 40px;
  width: 100px;
  background: #d10024;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
}

.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  width: 100%;
}

textarea.input {
  padding: 16px;
  min-height: 92px;
}
.input-select {
  padding: 0px 15px;
  background: #fff;
  border: 1px solid #e4e7ed;
  height: 40px;
}

#navigation {
  background: #ffffff;
  border-bottom: 2px solid #e4e7ed;
  border-top: 3px solid #d10024;
}

.main-nav > li + li {
  margin-left: 30px;
}

.main-nav > li > a {
  padding: 20px 0px;
}

.main-nav > li > a:hover,
.main-nav > li > a:focus,
.main-nav > li.active > a {
  color: #d10024;
  background-color: transparent;
}

.main-nav > li > a:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d10024;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main-nav > li > a:hover:after,
.main-nav > li > a:focus:after,
.main-nav > li.active > a:after {
  width: 100%;
}

.visit-count {
  background-color: #151102;
  color: #ccc;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.listing-section {
  background-color: white;
}

.justify-space-between-md {
  justify-content: space-between;
  background-color: white;
}

.col-md-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  background-color: white;
}

.mycart {
  position: relative;
  display:block;
  width: 150px;
  height: 100px;
  bottom: -28px;
}

.mb-4 {
  margin-bottom: 1.375rem;
  background-color: white;
}

.disc-listing {
    background-color: white;
    color: black;
}

.disc-listing-single-user {
  background-color: white;
  color: black;
  margin-left: 0px;
}

.font-black {
    color: black;
    margin-left: 73px;
}

.shop-cart {
  position: relative;
}

/* .total-cart { */
  /* float: right;
  position: relative;
  left: -100px;
  top: 180px; */
/* } */

/* .cartPurchaseBtn { */
  /* float: right;
  bottom: -210px;
  right: -20px;
  position: relative; */
/* } */

/* .disc-body {
  position: absolute;
  top: 0;
  width: 75%;
  padding: 30px;
  z-index: 10;
} */

.row-list {
  display: block;
  /* flex-wrap: wrap;
    flex-direction: row; */
  margin-left: -150px;
  margin-right: -200px;
  background-color: blueviolet;
}

.list-home {
  display: block;
  background-color: greenyellow;
}
.cover-art {
  width: 100px;
  height: 100px;
}

.saved-item-section {
  background-color: #fff;
  padding: 15px;
  margin: 25px;
}

#footer {
  background: #15161d;
  color: #b9babc;
}

#bottom-footer {
  background: #1e1f29;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links li a {
  color: #b9babc;
}

.footer-links li i {
  margin-right: 15px;
  color: #d10024;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover {
  color: #d10024;
}

/* .listings { */
/*todo*/
/* } */

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-body {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.section-body {
  width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*
-----------------------------------------
*/
#container-disc {
  position: relative;
}

div {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
  border-color: gray;
}
table.mpitems {
  width: 100%;
  clear: both;
}

table.table_block {
  margin-bottom: 28px;
}

table.table_block-profile {
  margin-bottom: 1040px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

table.mpitems tr:last-child {
  border-bottom: none;
}

table.table_block thead tr,
table.table_block tfoot tr {
  background: grey;
  border-bottom: 1px solid grey;
}

table.mpitems tr {
  border-bottom: 1px dotted grey;
  vertical-align: top;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table.mpitems th {
  padding: 7px 7px;
  color: rgb(0, 0, 0);
  background: rgb(231, 96, 96);
}

table.table_block th,
table.table_block thead td,
table.table_block tfoot td {
  text-align: left;
  font-weight: bold;
  padding: 3.5px 7px;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: internal-center;
}

table.mpitems th.price_head {
  text-align: center;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table.mpitems tr td {
  padding: 10px 5px;
}

table.table.table_block td {
  padding: 4px 7px 3px;
}

.disc_img {
  width: 90px;
  padding: 10px;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

table.mpitems tr td.disc_desc {
  /* word-break: break-word; */
  max-width: 500px;
}

table.mpitems tr td.seller_info {
  width: 20%;
}

#main_wrapper .hide-desktop,
.hide-desktop {
  display: none;
}

.item_price {
  text-align: center;
  white-space: nowrap;
}

.cart_button {
  max-width: 130px;
  white-space: nowrap;
  text-align: center;
  float: left;
}

/*
-------------------------------------------
*/
.log-page {
  width: 100%;
  margin: 0 auto;
}

.log-page-profile {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.log-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: grey;
}

.card-wrap {
  width: 560px;
  background: white;
  border-radius: 10px;
  position: relative;
}

.card-wrap-profile {
  width: 560px;
  background: rgb(239, 129, 129, 1);
  border-radius: 10px;
  position: relative;
}

.log-container-profile {
  margin-left: 50px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.profile-div {
  display:inline
}

.listing {
  display: inline-flex;
}

.title-profile-h3 {
  width: 350px;
}
.img-profile {
  width: 200px;
  height: 200px;
  margin-bottom: 35px;
  margin-right: 20px;
}
.pad-log {
  padding-left: 55px;
  padding-top: 55px;
  padding-bottom: 75px;
  padding-right: 75px;
  margin-right: 10px;
  margin-left: 10px;
}

.signup-card {
  top: 55px
}

.log-form {
  width: 100%;
}

.signup-form {
  width: 100%
}

.log-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  display: block;
}

.pad-title {
  padding-bottom: 32px;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: black;
  line-height: 1.4;
  text-transform: uppercase;
}

.pad-text {
  padding-bottom: 11px;
}

.log-input-wrap {
  position: relative;
  width: 100%;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
}

.pad-box {
  position: relative;
  margin-bottom: 36px;
}

/* input {
  outline: none;
  border: none;
} */

.input-here {
  font-family: 'Montserrat', sans-serif;
  color: black;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: 0 0;
  height: 55px;
  padding: 0 25px;
  outline: none;
  border: none;
}

.log-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

button {
  outline: none!important;
  border:none;
  background: 0 0;
}

.login-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 55px;
  background-color: rgb(126, 126, 126);
  border-radius: 27px;
  transition-duration: 0.4s;
}

.login-button:hover {
  background-color: green;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 1201px) {
}

@media only screen and (max-width: 991px) {
  .header-acc .menu-toggle {
    display: inline-block;
  }

  #responsive-nav {
    position: fixed;
    left: 0;
    top: 0;
    background: #15161d;
    height: 100vh;
    max-width: 250px;
    width: 0%;
    overflow: hidden;
    z-index: 22;
    padding-top: 60px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }

  #responsive-nav.active {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
  }

  .main-nav {
    margin: 0px;
    float: none;
  }

  .main-nav > li {
    display: block;
    float: none;
  }

  .main-nav > li + li {
    margin-left: 0px;
  }

  .main-nav > li > a {
    padding: 15px;
    color: #fff;
  }

  #top-header .header-links.pull-left {
    float: none !important;
  }
  #top-header .header-links.pull-right {
    float: none !important;
    margin-top: 5px;
  }
  .header-logo {
    float: none;
    text-align: center;
  }
  .header-logo .logo {
    display: inline-block;
  }
  #product-imgs {
    margin-bottom: 60px;
    margin-top: 15px;
  }
  #rating {
    text-align: center;
  }
  #reviews {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 480px) {
  [class*='col-xs'] {
    width: 100%;
  }
}
